### Day Objectives

- Practice on Income Dataset

    - Define functions for the following data points
    
         - Combined Average Income of all states from 2005 to 2013
             - Answer = 48525
         - State with highest average income in the last three years
             - Answer = Alaska
         - State with lowest average income from 2007 to 2010(inclusive)
             - Answer = Arkanas
         - Print the list of all states in the same line with average income less than California
             - Answer = Alabama Arizona Arkanas
         - Print the names of states based on descending order of income in the year 2009
             - Answer = Alaska California Arizona Alabama Arkanas
         - State with the lowest recorded income from 2005 to 2013
             - Answer = Arkanas

In [88]:
######## Function to read CSV data into a DataFrame
# return the DataFrame object   csv(comma superated value)

filepath = 'DataFiles/Income.csv'
import pandas as pd

def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [112]:
1. ####### Function to Average Income of all states from 2005 2013

incomedf = readCSVdata(filepath)
filepath = 'DataFiles/Income.csv'
def AverageIncome2005_to_13(df, filepath):

    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(2, len(df.columns)):
            sum=sum+df.values[i][j]
            count+=1
#             s=s+sum
        print(sum//count)     
AverageIncome2005_to_13(incomedf, filepath)

41126
60106
48967
38828
55350

In [37]:
2. ### Write a function to caluculate Highest income of last three years

filepath = 'DataFiles/Income.csv'
def HighestIncomeof_last_3_years(df, filepath):
    li = []
    u = {}
    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(8, len(df.columns)):
            sum=sum+df.values[i][j]
            count+=1
        u[df.values[i][1]]=sum//count
    print(u)
    print('\n')
    a = max(u.values())
    for item in u.items():
        if a==item[1]:
            print(item[0],':',a)
       
        
HighestIncomeof_last_3_years(incomedf, filepath)

{'Alabama': 42478, 'Alaska': 60738, 'Arizona': 48755, 'Arkansas': 40079, 'California': 55971}


Alaska : 60738

In [85]:
3 ### State with  Lowest income from 2007 to 2010

filepath = 'DataFiles/Income.csv'
def LowestAvgIncomeof_2007_10(df, filepath):
    li = []
    u = {}
    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(4, len(df.columns)-3):
            sum=sum+df.values[i][j]
            count+=1
        u[df.values[i][1]]=sum//count
    print(u)
    print('\n')
    a = min(u.values())
    for item in u.items():
        if a==item[1]:
            print(item[0],':',a)
       
        
LowestAvgIncomeof_2007_10(incomedf, filepath)

{'Alabama': 41900, 'Alaska': 61608, 'Arizona': 50635, 'Arkansas': 38876, 'California': 55791}


Arkansas : 38876

In [101]:
4. #### Print the list of all states in the same line with average income less than California

filepath = 'DataFiles/Income.csv'
def AvgIncomeLessthanCalifornia(df, filepath):
    u = {}
    li=[]
    for i in range(len(df.values)):
        sum = 0
        count = 0
        for j in range(2, len(df.columns)):
            sum=sum+df.values[i][j]
            count+=1
        u[df.values[i][1]]=sum//count
    print(u)
    for item in u.items():
        if item[1]<55350:
            print(item[0],':',item[1])
                        
AvgIncomeLessthanCalifornia(incomedf, filepath)

{'Alabama': 41126, 'Alaska': 60106, 'Arizona': 48967, 'Arkansas': 38828, 'California': 55350}
Alabama : 41126
Arizona : 48967
Arkansas : 38828

In [98]:
# 5. # Print the names of states based on descending order of income in the year 2009

filepath = 'DataFiles/Income.csv'
incomedf = readCSVdata(filepath)
li = []
u=[]
def des(df):
    for i in range(len(df.values)):
        a = (df.values[i][6])
        if a not in li:
            li.append(a)
    u=sorted(li,reverse=True)
    print(u)
    
des(incomedf)

[61604, 56134, 45739, 39980, 36538]

In [104]:
6. ## State with the lowest recorded income from 2005 to 2013

filepath = 'DataFiles/Income.csv'
def Lowest_RecoredeIncome(df, filepath):
    li = []
    for i in range(len(df.values)):
        for j in range(2,len(df.columns)):
            u.append(df.values[i][j])
    a=min(u)
    for i in range(len(df.values)):
        for j in range(2,len(df.columns)):
            if df.values[i][j]==a:
                b=df.values[i][1]
    print(b,':',a)
            
Lowest_RecoredeIncome(incomedf, filepath)

Arkansas : 36538

In [106]:
incomedf.values[1][0]

'04000US02'