# Problem Solving and Programming

#### Date 12 June 2019
#### Day Objectives
- Day Objectives
- String Slicing
- Functions in Python
- Basic Problems related to conditional statements using functions
- Iteration in Python
- Python Data Structures-Lists, Tuples and Dictionaries
- Basic Operations on data structures
- Applying Data Structures to solve problems

## String Slicing

In [2]:
####### Accessing SINGLE characters #######

s1 = 'Python'

s1[0] #Accessing the first character in  a string

s1[1] #Accessing the second character in a string 

s1[len(s1)-1] #Accessing the last character in a string

s1[-1] #Another way of accessing the last character in a string

s1[-2] #Accessing the penultimate character of a string

'o'

In [20]:
###### Accessing MULTIPLE characters #######

s1[0:3] #Accessing the first two characters in a string

s1[-2:] #Accessing the last two characters in a string

s1[4:]  #Accessing all characters from 5th character to end of string


### Accessing all characters except first and last character

s1[1:-1]

### Acessing the middle character in an odd character a string
s1[len(s1)//2]

s1[-1::-1]   # Reverse of a String
#string_reverse[start:end:step] syntax

s1[-1:-3:-1]# Accessing last two characters in reverse string

# Reverse the middle two characters in an even length string
s1[len(s1)//2:(len(s1)//2)-2:-1]

# Accessing alternate characters in a string
#"Python" -> "Pto"
s1[::2]

# Accessing alternate characters of a string in reverse order
# "Python" -> "nhy"
s1[::-2]

'nhy'

## Functions

In [ ]:
## Function to REVERSE a string

s = str(input("enter string: "))
def reverseString(s): ### Function definition
    return s[::-1]

reverseString(s) #### Function calling

In [35]:
## Function to check if a string is a PALINDROME 

s =str(input("enter a string: "))
def pal(s):
    if s == s[::-1]:
        return True
    else:
        return False
pal(s)

enter a string: 121

True

In [40]:
## Function to check if a given year is LEAP year or not 

n = int(input("Enter year"))
def leapyear(n):
    if n%400==0 or n%100!=0 and n%4==0:
        return True
    else:
        return False
leapyear(n)

Enter year1996

True

In [60]:
## Number of digits count

n = int(input("enter number:"))

def digitcount(n):
    c=0
    while n!=0:
        c=c+1
        n=n//10
        
    return c
digitcount(n)

enter number:1234567

7

In [61]:
## Function to identify the greatest of 4 numbers

def greatest(n1,n2,n3,n4):
    if n1>n2 and n1 >n3 and n1>n4:
        return n1
    elif n2>n3 and n2>n4:
        return n2
    elif n3>n4:
        return n3
    else:
        return n4
    
greatest(1,2,3,4)

4

### Iteration
- for
- while

In [1]:
## Function to print n natural numbers

def printNnaturalNumbers(n):
    for counter in range(1,n+1):
        print(counter,end=" ")
    return 

printNnaturalNumbers(40)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [10]:
## Function to print the alternate values in a range
## [500, 550] -> 500 502 504 506...............550
## (500,550)  -> 501 503 505 507...............549
## range(500,550) -> 500 501 502.........549
##All set based functions in Python have start value is exclusive

def alternateValues(start, end):
    for value in range(start, end+1,4):
        print(value, end = " ")
    return 

alternateValues(500, 525)

500 504 508 512 516 520 524

In [26]:
### Function to print reverse of given range 

def reverserange(start,end):
    for i in range(end,start,-1):
    ## for i in range(start,end,-1)
        print(i,end=" ")
    return 

reverserange(500,520)
#reverserange(520,500)

520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501

In [29]:
## Function to print the odd numbers in reverse order in a range

def oddreverseRange(start,end):
    for n in range(end,start-1,-1):
        if(n%2!=0):
            print(n,end=" ")
    return

oddreverseRange(1,10)

9 7 5 3 1

In [49]:
## Function to caluculate the sum of numbers in a range

def sumofallNumber(start, end):
    sum=0
    for value in range(start,end+1):
        #if value%2!=0:
            sum+=value
    return sum

sumofallNumber(1,10)

25

In [8]:
## Function to caluculate the average of a given range

def avgofallNumber(start, end):
    sum=0
    c=0
    for value in range(start,end+1):
        sum+=value
        c+=1
            
    return sum//c

avgofallNumber(1000,5000)

3000

In [2]:
# Function to pring N natural integes

def NaturalNumber(n):
    counter = 1
    while counter <= n:
        print(counter,end=" ")
        counter = counter+1
    
    return 

NaturalNumber(20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [93]:
## Function to print all numbers divisible by 6
a = int(input("enter start range:"))
b = int(input("enter end range:"))
def div6(a,b):
    for i in range (a,b+1):
        if i%6==0 and i%100!=0:
            print(i,end=" ")
    
    return 

div6(a,b)

enter start range:1
enter end range:10
6

In [1]:
## Function to find the average of cubes of all even numbers in a given range inclusive

a = int(input("enter start range:"))
b = int(input("enter end range:"))
def even(a,b):
    c=0
    sum=0
    for i in range(a,b+1):
        if i%2==0:
            sum=sum+i**3
            c=c+1
    return sum//c
even(a,b)

enter start range:10
enter end range:20

3900

In [154]:
## Function to generate all leap years in a given time period
## 2000 - 2020 -> 2000 2004 2008 2012 2016 2020

def isLeapYear(year):#TO check if a given year is a Leap Year
    if year%400 ==0 or(year%100!=0 and year%4==0):
        return True
    return False

def generateLeapYears(startyear,endyear):# uses the isLeapYear() to 
    for year in range(startyear,endyear+1):
        if isLeapYear(year):
            print(year,end=" ")
    return 
generateLeapYears(2000,2020)

2000 2004 2008 2012 2016 2020

In [166]:
## Caluculate number of days in a given time period
#For every year in the given time period,if the year is not leap year -> add 356 to sum

def isLeapYear(year):#TO check if a given year is a Leap Year
    if year%400 ==0 or(year%100!=0 and year%4==0):
        return True
    return False

def numberofDays(startyear,endyear):
    sum=0
    for year in range(startyear,endyear+1):
        if isLeapYear(year):
            sum=sum+366
        else:
            sum=sum+365
    return sum
numberofDays(2001,2003)

1095

In [169]:
def numberOfDaysMonth(month,year):
    if month == 2:
        if isLeapYear(year):
            return 29
        return 28
    elif(month <=7 and month %2!=0) or (month >7 and month%2==0):
        return 31
    else:
        return 30
    
def daysInStartYear(startmonth, startyear):
    days = 0
    for month in range(startmonth, 13):
        days +=numberOfDaysMonth(month, startyear)
    return days

def daysInEndYear(endmonth, endyear):
    days = 0
    for month in range(1, endmonth+1):
        days+=numberOfDaysMonth(month, endyear)
    return days

def numberOfHours(startmonth, startyear, endmonth, endyear):
    days = 0
    if(startyear!=endyear):
        days += daysInStartYear(startmonth, startyear)
        days += daysInEndYear(endmonth, endyear)
        if endyear - startyear == 2: # 2019 -2017
            days += numberofDays(startyear+1, startyear+1)
        elif endyear - startyear > 2:
            days += numberofDays(startyear+1, endyear-1)
    else:
        for month in range(startmonth, endmonth+1):
            days += numberofDays(month,startyear)
    return 24 * days

numberOfHours(11, 1975, 3, 1999)

205248

In [6]:
##### Function to generate factors
## 12 -> 1 2 3 4 6 12

# n = int(input("enter number"))
def fact(n):
    
    for i in range(1,n+1):
        
        if n%i==0:
            print(i,end=" ")
            
    return 

fact(12)

1 2 3 4 6 12

12

In [7]:
##### Factorial 

n = int(input("enter number"))
def factor(n):
    f=1
    for i in range(1,n+1):
            f=f*i
        
    return f
factor(n)

enter number3

6

In [31]:
##### Prime or not

n = int(input("enter number"))
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c=c+1 
    if c==2:
        print("P")
    else:
        print("NP")

prime(n)

enter number5
P

In [55]:
### avg of all prime numbers in a given range

a = int(input("enter start range:"))
b = int(input("enter end range:"))
def prime_sum(a,b):
    sum=0
    for i in range(a,b+1):
        c=0
        for j in range(1,i+1):
            if i%j==0:
                c=c+1
        if c==2:
            sum+=i
        #print(i,end=" ")
        
    return sum//c
prime_sum(a,b)

enter start range:1
enter end range:10

4

In [22]:
#### Perfect number

n = int(input("enter number:"))
def perfect(n):
    sum=0
    for i in range(1,n):
        if n%i==0:
            sum=sum+i
    if sum==n:
        print("perfect")
    else:
        print("Not perfect")
    return 
perfect(n)

enter number:6
perfect

In [ ]:
### Perfect numbers in a given Range


def isPerfect(n):
    sum=0
    for i in range(1,n):
        if n%i==0:
            sum=sum+i
    if sum==n:
        return True
    else:
        return False
    return 
def perfectrange(start,end):
    for n in range(start,end+1):
        if isPerfect(n):
            
            print(n,end=" ")
        
    return 

perfectrange(1,100000)

6 28 496 8128

## Advanced Problem Set
- Function to Caluculate average of all factorials in a given range
- Function to generate N odd armstrong numbers
- Function to generate Multiplucation table for a number in a given range
      - 10 in the range(100,102)inclusive

In [24]:
##  Function to Caluculate average of all factorials in a given range

def factorial(n):
    f=1
    sum=0
    c=0
    for i in range(1,n+1):
        f=f*i
    print(f)
    return f
def factorialAvg(start,end):
    sum=0
    c=0
    for n in range(start,end+1):
        x=factorial(n)
        sum+=x
    
            
            
    return sum/(end+1-start)
factorialAvg(1,5)

1
2
6
24
120

30.6

In [45]:
#Function to generate N odd armstrong numbers

def isArmstrong(n):
    r=0
    temp=n
    while(n!=0):
        rem=n%10
        r=r+rem*rem*rem
        n=n//10
    if temp==r:
        return True
        #print(r)
#     else:
#         print("Not Armstrong")
    return


def armstrongRange(start,end):
    for n in range(start,end+1):
        if isArmstrong(n):
            if n%2!=0:
                print(n,end=" ")
    return 
armstrongRange(100,500)

153 371 407

In [84]:
#Function to generate Multiplucation table for a number in a given range

def istable(n):
    for i in range(1,11):
        print(n,"x",i,"=",n*i)
    return 
#istable(2)
def tablerange(start,end):
    for n in range(start,end+1):
        istable(n)
        #print(a,end=" ")
    return 
tablerange(1,10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [136]:
### print all primenumber,avg of those,and sum of those in a given range

def isPrime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c=c+1
    if c==2:
        return True
    else:
        return False

def primeRange(start,end):
    sum=0
    c=0
    for n in range(start,end+1):
        if isPrime(n):
            sum+=n
            c=c+1
            print(n,end=" ")
    return sum//c
primeRange(1,10)

2 3 5 7

4

In [149]:
## Palindram

def pal(n):
    rev=0
    temp=n
    while(n!=0):
        rem=n%10
        rev=rev*10+rem
        n=n//10
    if temp==rev:
        return True
#pal(122)

def palrange(start,end):
    c=0
    sum=0
    for n in range(start,end+1):
        if pal(n):
            sum+=n
            c+=1
            print(n)
    return sum//c
palrange(100,150)

101
111
121
131
141

121