## Numpy Library

- Processing N-Dimensional arrays

In [5]:
import numpy as np


li = [1,2,3,'z']

a = np.array(li)

b = np.arange(15)
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [8]:
rn = np.random.randint(0,100, size=10)
rn

array([66, 60, 69,  6, 21, 40, 93, 27,  0, 14])

In [15]:
m3 = np.random.randint(0,2,size=(3,3,3,3))
m3[2][2][2][1]

0

In [20]:
m3.ndim

4

In [21]:
m3.size

81

In [22]:
m3.shape

(3, 3, 3, 3)

In [23]:
m3.dtype

dtype('int32')

In [24]:
m3.itemsize

4

In [25]:
m3.nbytes

324

In [29]:
print(b)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [31]:
b.reshape(5,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

## Pandas

**Use Cases**

- Data Cleaning
- Data Transformation
- Data Analysis

**Notations**
- Series  (Row)
- DataFrames  (Table)

In [5]:
import pandas as pd

internal1 = {'s1':22, 's2':18, 's3':24}

internal1 = pd.Series(internal1)

internal2 = {'s1':15, 's2':18, 's3':12}
internal2 = pd.Series(internal2)
internal2

s1    15
s2    18
s3    12
dtype: int64

In [8]:
final = {'Internal1':internal1, 'Internal2':internal2}

final = pd.DataFrame(final)
final

    Internal1  Internal2
s1         22         15
s2         18         18
s3         24         12

In [9]:
final.columns #### Names of all columns

Index(['Internal1', 'Internal2'], dtype='object')

In [10]:
final.values ### Lists of all rows

array([[22, 15],
       [18, 18],
       [24, 12]], dtype=int64)

In [11]:
final.values[2]

array([24, 12], dtype=int64)

In [28]:
final.values[2,0] =25
final.values[2][0]

25

In [21]:
for row in final.values:
    print('Internal - ',row[0],' Internal2 - ',row[1],)

Internal -  22  Internal2 -  15
Internal -  18  Internal2 -  18
Internal -  24  Internal2 -  12

In [23]:
final.loc[3] =[15,18]
final

    Internal1  Internal2
s1         22         15
s2         18         18
s3         24         12
3          15         18

In [24]:
final.loc['s4'] = [11,32]
final

    Internal1  Internal2
s1         22         15
s2         18         18
s3         24         12
3          15         18
s4         11         32

In [27]:
final.drop('s3')

    Internal1  Internal2
s1         22         15
s2         18         18
3          15         18
s4         11         32

In [30]:
final.values[2] = [18,15]
final

    Internal1  Internal2
s1         22         15
s2         18         18
s3         18         15
3          15         18
s4         11         32

In [ ]:
##### Reading CSV file

import pandas as pd
filepath = 'DataFiles/income.csv'
incomedf = pd.read_csv(filepath)
incomedf